
.content{
    font-family: Georgia,serif;
    text-align: center;
}
#first{
    font-family: Georgia,serif;
    color: red;
    
}
img{
    height: 300px;
    width: 300px;
}


#second{
    text-align: center;
    word-wrap: break-word;
}
#third{
    font-size: small;
}
