img{
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
}
#first{
    font-family: Georgia,serif;
    color: red;
    text-align: center;
    margin-right: 300px;
}


#second{
    text-align: center;
    word-wrap: break-word;
    text-align: center;
    margin-right: 300px;
}
#third{
    font-size: small;
    text-align: center;
}
